
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.instructions{
    text-align: center;
    
}

#buttonimage{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;

}

.playerSide{
    text-align: center;
}

.opponentSide{
    text-align: center;
}

.opponentBox{
    text-align: center;
}

#rock{
    display: none;
}

#paper{
    display: none;
}

#scissors{
    display: none;
}

.playerBox{
    text-align: center;
}

#playerRock{
    display: none;
}

#playerPaper{
    display: none;
}

#playerScissors{
    display: none;
}

.replay{
    text-align: center;
}

#playagain{
    display:none;
}

#scorePlayer{
    display: none;
}

#scoreOpponent{
    display: none;
}

#playerPickRock, #playerPickPaper, #playerPickScissors{
    position: absolute;
    display: none;
    left: 0px;
    float: left;
}

#opponentPickRock, #opponentPickPaper, #opponentPickScissors{
    position: absolute;
    display: none;
    right: 0px;
    float: right;
}