.title{
    text-align: center;
    margin-top: 50px;
}

.instructions{
    text-align: center;
    
}

#buttonimage{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;

}

.opponentBox{
    text-align: center;
}

#rock{
    display: none;
}

#paper{
    display: none;
}

#scissors{
    display: none;
}

.playerBox{
    text-align: center;
}

#playerRock{
    display: none;
}

#playerPaper{
    display: none;
}

#playerScissors{
    display: none;
}

#playagain{
    display:none;
}

#scorePlayer{
    display: none;
    text-align: center;
}

#scoreOpponent{
    display: none;
    text-align: center;
}